/*.wrapper{
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}*/
/*.row{
		margin-left: -15px;
		margin-right: -15px;
		display: flex;
		justify-content: space-between;
}*/
body{
	min-width: 1000px;
}
.header, .footer, .solution, .info{ overflow: hidden; }
