.info{
	background: url(../img/bg.svg);
	background-repeat: no-repeat;
	height: 675px;
	background-position: -140px 0;
	&__container{
		height: 675px;
		position: relative;
	}
	&__bg{
		background: url(../img/bg_container.svg);
		background-repeat: no-repeat;
		background-position: 0px 267px;
		position: absolute;
		height: 700px;
		width: inherit;
		background-size: contain;
	}
	&__wrapper{
		width: 400px;
		position: absolute;
		left: 0;
		top: 130px;
	}
	&__title{
		font-family: "OpenSans-Bold";
		color: #1a5064;
		font-size: 36px;
		margin: 10px 0;
	}
	&__text{
		font-family: "OpenSans-Regular";
		color: #1e2226;
		font-size: 14px;
	}
	&__block-search{
		margin-top: 120px;
	}
	&__question{
		font-family: "OpenSans-Semibold";
		font-size: 18px;
		color: #fff;
	}
	&__search{
		font-family: "OpenSans-LightItalic";
		color: #464f58;
		font-size: 14px;
		border: 1px solid #464f58;
		border-radius: 5px;
		padding-left: 15px;
		height: 40px;
		width: 288px;
		border-radius: 5px 0 0 5px;
		float: left;
	}
	&__button-decision{
		font-family: "OpenSans-Semibold";
		color: #fff;
		font-size: 18px;
		width: 112px;
		height: 40px;
		border: 0;
		border-radius: 0 5px 5px 0;
		background-image: linear-gradient(to top, #df2424 0%, #ff2c2c 100%);
		background-image: -webkit-linear-gradient(to top, #df2424 0%, #ff2c2c 100%);
		background-image: -moz-linear-gradient(to top, #df2424 0%, #ff2c2c 100%);
		&:hover{
			background-image: linear-gradient(to top, #ff2c2c 0%, #df2424 100%);
			background-image: -webkit-linear-gradient(to top, #ff2c2c 0%, #df2424 100%);
			background-image: -moz-linear-gradient(to top, #ff2c2c 0%, #df2424 100%);
		}
	}
}
