.solution{
	&__column{
		display: flex;
		justify-content: space-between;
	}
	&__title{
		font-family: "OpenSans-Bold";
		color: #1a5064;
		font-size: 24px;
		text-align: center;
		margin: 60px 0;
	}
	&__flex-green{
		display: flex;
		justify-content: flex-start;
	}
	&__flex-red{
		display: flex;
		justify-content: flex-end;
	}
	&__btn-green{
		position: relative;
		margin: 0;
		cursor: pointer;
		position: relative;
		padding: 0 15px;
		box-sizing: content-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: "OpenSans-Semibold";
		color: #fff;
		font-size: 14px;
		width: 90px;
		height: 40px;
		border: 0;
		border-radius: 5px;
		background-image: -moz-linear-gradient( 90deg, rgb( 91, 162, 30 ) 0%, rgb( 54, 120, 14 ) 98.535%);
		background-image: -webkit-linear-gradient( 90deg, rgb( 91, 162, 30 ) 0%, rgb( 54, 120, 14 ) 98.535%);
		&:after{
			position: absolute;
			right: 16px;
			top: 13px;
			content: '';
			background: url(../img/plus.png);
			width: 16px;
			height: 16px;
		}
		&:hover{
			background-image: linear-gradient( 90deg, rgb( 91, 162, 30 ) 0%, rgb( 54, 120, 14 ) 98.535%);
		}
	}
	&__btn-red{
		position: relative;
		margin: 0;
		text-align: left;
		cursor: pointer;
		position: relative;
		padding: 0 15px;
		box-sizing: content-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: "OpenSans-Semibold";
		color: #fff;
		font-size: 14px;
		width: 90px;
		height: 40px;
		border: 0;
		border-radius: 5px;
		background-image: -moz-linear-gradient( 90deg, rgb( 210, 50, 12 ) 0%, rgb( 245, 49, 11 ) 0%, rgb( 255, 44, 44 ) 0%, rgb( 223, 36, 36 ) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb( 210, 50, 12 ) 0%, rgb( 245, 49, 11 ) 0%, rgb( 255, 44, 44 ) 0%, rgb( 223, 36, 36 ) 100%);
		&:after{
			position: absolute;
			right: 16px;
			top: 13px;
			content: '';
			background: url(../img/minus.png);
			width: 16px;
			height: 16px;
		}
		&:hover{
			background-image: linear-gradient( 90deg, rgb( 210, 50, 12 ) 0%, rgb( 245, 49, 11 ) 0%, rgb( 255, 44, 44 ) 0%, rgb( 223, 36, 36 ) 100%);
		}
	}
	&__hotkey-green{
		width: 34px;
		height: 18px;
		border-radius: 5px;
		border: 1px solid #387a0f;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5px 0;
		position: absolute;
		left: 44px;
	}
	&__hotkey-red{
		font-family: "OpenSans-Bold";
		font-size: 11px;
		color: #e12424;
		width: 82px;
		height: 18px;
		border-radius: 5px;
		border: 1px solid #e52526;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5px auto;
		padding: 0 3px;
		cursor: default;
		position: absolute;
		left: 20px;
	}
	&__span{
		padding: 0 3px 0 2px;
	}
	&__add{
		font-family: "OpenSans-LightItalic";
		color: #464f58;
		font-size: 14px;
		width: 620px;
		height: 40px;
		line-height: 40px;
		margin: auto;
		display: flex;
		justify-content: center;
		border: 1px solid #464f58;
		border-radius: 5px;
		outline: none;
		padding-left: 35px;
	}
	&__paragraph{
		font-family: "OpenSans-Regular";
		color: #1e2226;
		font-size: 18px;
		margin: 10px 0 10px 145px;
	}
	&__line{
		margin-right: -15px;
		margin-left: -15px;
		margin-top: 55px;
		margin-bottom: 45px;
		height: 3px;
/* 		background-image: linear-gradient( 0deg, rgb( 60, 127, 17 ) 0%, rgb( 56, 123, 15 ) 25.415%, rgb( 229, 37, 38 ) 25.903%, rgb( 229, 37, 38 ) 40.186%, rgb( 229, 37, 38 ) 100%);
		background-image: -moz-linear-gradient( 0deg, rgb( 60, 127, 17 ) 0%, rgb( 56, 123, 15 ) 25.415%, rgb( 229, 37, 38 ) 25.903%, rgb( 229, 37, 38 ) 40.186%, rgb( 229, 37, 38 ) 100%);
		background-image: -webkit-linear-gradient( 0deg, rgb( 60, 127, 17 ) 0%, rgb( 56, 123, 15 ) 25.415%, rgb( 229, 37, 38 ) 25.903%, rgb( 229, 37, 38 ) 40.186%, rgb( 229, 37, 38 ) 100%); */
	}
	&__wrapper{
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
	}
	&__column-left, &__column-right{
		width: 430px;
		margin-left: -15px;
		margin-right: -15px;
	}
	&__list-green{
		font-family: "OpenSans-Regular";
		color: #387f0f;
		font-size: 18px;
	}
	&__list-red{
		font-family: "OpenSans-Regular";
		color: #e52526;
		font-size: 18px;
	}
	&__table{
		display: flex;
		justify-content: space-between;
	}
	&__weight-left{
		width: 80px;
	}
	&__name-right{
		width: 320px;
	}
	&__weight, &__name{
		font-family: "OpenSans-Semibold";
		font-size: 14px;
		color: #1e2226;
		border-bottom: 1px solid #a2a7ab;
		padding-bottom: 5px;
		width: 100%;
	}
	&__list-weight{
		padding: 0;
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	&__list-name{
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
	}
	&__item{
		font-family: "OpenSans-Regular";
		color: #1e2226;
		list-style-type: none;
		margin-bottom: 25px;
		cursor: pointer;
		transition: 0.25s;
		display: flex;
		position: relative;
		padding: 5px 0;
		&:hover{
			background: #f5f8f9;
		}
		&:after{
			content: '';
			position: absolute;
			right: 25px;
			top: 10px;
			background: url(../img/close.png);
			background-repeat: no-repeat;
			width: 10px;
			height: 10px;
			opacity: 0;
		}
		&:hover:after{
			opacity: 1;
		}
		&:last-child{
			margin-bottom: 0;
		}
		&:hover .solution__arrow{
			opacity: 1;
		}
		&:hover .solution__border{
			transition: 0.25s;
			color: #afb0b0;
			border: 1px solid #acb0b4;
			border-radius: 5px;
		}
	}
	&__border{
		font-family: "OpenSans-Semibold";
		width: 40px;
		height: 20px;
		border: 1px solid transparent;
		border-radius: 5px;
		display: block;
		margin: auto;
		line-height: 17px;
		transition: 0.25s;
	}
	&__button-groups{
		display: flex;
		justify-content: center;
		margin-bottom: 75px;
	}
	&__button-clear{
		font-family: "OpenSans-Semibold";
		color: #1e2226;
		font-size: 18px;
		background-image: linear-gradient( 90deg, rgb( 191, 202, 206 ) 0%, rgb( 226, 235, 240 ) 98.535%);
		background-image: -moz-linear-gradient( 90deg, rgb( 191, 202, 206 ) 0%, rgb( 226, 235, 240 ) 98.535%);
		background-image: -webkit-linear-gradient( 90deg, rgb( 191, 202, 206 ) 0%, rgb( 226, 235, 240 ) 98.535%);
		border-radius: 5px;
		width: 144px;
		height: 44px;
		border: 0;
		margin: 0 10px;
		&:hover{
			background-image: linear-gradient( 90deg, rgb( 191, 202, 206 ) 0%, rgb( 226, 235, 240 ) 98.535%);
		}
	}
	&__button-save{
		font-family: "OpenSans-Semibold";
		color: #fff;
		font-size: 18px;
		background-image: linear-gradient( 90deg, rgb( 8, 59, 79 ) 0%, rgb( 27, 123, 156 ) 100%);
		background-image: -moz-linear-gradient( 90deg, rgb( 8, 59, 79 ) 0%, rgb( 27, 123, 156 ) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb( 8, 59, 79 ) 0%, rgb( 27, 123, 156 ) 100%);
		border-radius: 5px;
		width: 144px;
		height: 44px;
		border: 0;
		margin: 0 10px;
		&:hover{
			background-image: linear-gradient( 90deg, rgb( 8, 59, 79 ) 0%, rgb( 27, 123, 156 ) 100%);
			
		}
	}
	&__weight-column{
		width: 80px;
		text-align: center;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__arrow{
		opacity: 0;
	}
	&__name-column{
		width: 320px;
		margin-left: 30px;
	}
	&__position{
		position: relative;
	}
	&__container{
		width: 940px;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	&__row{
		margin-left: -15px;
		margin-right: -15px;
		display: flex;
		justify-content: space-between;
	}
}
.popup{
	position: fixed;
	background: rgba(7,18,29,0.8);
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 5;
}
.popup__wrapper{
	width: 460px;
	height: 400px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 7px 32px 10px rgba(1,2,3, 0.5);
	padding: 35px 20px;
	position: relative;
}
.popup__close{
	position: absolute;
	top: -25px;
	right: 0;
	cursor: pointer;
}
.popup__title{
	font-family: "OpenSans-Semibold";
	font-size: 24px;
	color: #1e2226;
	text-align: center;
	margin: 0;
}
.popup__groups{
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px auto 15px auto;
}
.popup__block{
	width: inherit;
	&:nth-child(2){
		margin-top: 20px;
		margin-bottom: 30px;
	}
}
.popup__name{
	font-family: "OpenSans-Regular";
	color: #1e2226;
	font-size: 18px;
}
.popup__input{
	display: block;
	width: inherit;
	height: 35px;
	margin: auto;
	outline: none;
	border: 1px solid #464f58;
	border-radius: 5px;
	padding-left: 10px;
	margin-top: 5px;
	font-family: "OpenSans-LightItalic";
	font-size: 14px;
	color: #464f58;
	&:hover{
		outline: none;
	}
}
.popup__button{
	font-family: "OpenSans-Semibold";
	border: 0;
	color: #fff;
	font-size: 18px;
	width: inherit;
	height: 40px;
	background-image: linear-gradient( 90deg, rgb( 8, 59, 79 ) 0%, rgb( 27, 123, 156 ) 100%);
	background-image: -moz-linear-gradient( 90deg, rgb( 8, 59, 79 ) 0%, rgb( 27, 123, 156 ) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb( 8, 59, 79 ) 0%, rgb( 27, 123, 156 ) 100%);
}
.popup__text{
	font-family: "OpenSans-Regular";
	color: #1e2226;
	font-size: 14px;
	text-align: center;
}
.popup__span{
	font-family: "OpenSans-Semibold";
}
.opacity{
	display: flex;
	z-index: 5;
}
